body{
  text-align:center;
}
.box{
width: 600px;
border: solid 1px #A7A7A7;/*線*/
border-radius: 10px;/*角の丸み*/
margin: 3em auto;
padding: 0.5em 1em;
font-weight: normal;
color: #000000;/*文字色*/
background: #FFF;
text-align: left;
}

form {
  margin: 0 auto;
  width: 600px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
form div{
  margin-bottom: 1em;
}
label {
  /* すべてのラベルを同じサイズにして、きちんと揃える */
  display: inline-block;
  width: 120px;
  text-align: right;
}
input.input {
  /* すべてのテキストフィールドのフォント設定を一致させる
     デフォルトで、textarea は等幅フォントが設定されている */
  font: 1em sans-serif;
  /* すべてのテキストフィールドを同じサイズにする */
  width: 300px;
  box-sizing: border-box;
  /* テキストフィールドのボーダーの外見を同一にする */
  border: 1px solid #999;
}
textarea{
    height: 150px;
    vertical-align: top;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
     /* テキスト入力に十分な領域を与える */
}
/*ul.button li*/
.buttons1 li{ 
  display: inline-block;
  width: 100px;
  height: 10px;
  margin:10px 30px 0px 30px;  
}


#ID{
  color: darkslategrey;
  font-weight:bolder;
}

#REPLY_ID{
  color: rgb(206, 169, 121);
  font-weight:bolder;
}

#TITLE{
  color: slategray;
}

td{
  display: inline-block;
  word-break : break-all;
}

.buttons2{
text-align: right;
vertical-align: bottom;
}

.btn{
  width:80px;
}

.replybox{

  width: 550px;
  margin: 3em auto;
  padding: 0em;
  font-weight: normal;
  color: #000000;/*文字色*/
  background: #FFF;
  text-align: left;
}